<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 minutes">

<appender name="discussions_exceptions_appender" class="com.jeevan.logback.MyAppender">
 <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    	<!-- <file>${learningplatform.logs:-./learningplatform/logs}/learningplatform_1.log</file> -->
        <!-- <packageNames>edu.apollogrp, hibernate.or.spring,com.apollo</packageNames>
        <packageNames>edu.apollogrp</packageNames> -->
        <packageNames>com.apollogrp,edu.apollogrp,com.apollo</packageNames>
    </appender>

    <logger name="discussions_exceptions" level="DEBUG" additivity="false">
        <appender-ref ref="discussions_exceptions_appender"/>
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="com.apollo.discussions.SampleFilter">
        	<packageNames>com.apollogrp,edu.apollogrp,com.apollo</packageNames>
        </filter>	
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
  
    <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- <filter class="com.apollo.discussions.SampleFilter">
    	<logger>org.hibernate</logger>
        <level>OFF</level>
    </filter> -->
    <!-- <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>        
      	<expression>
    if(logger.startsWith("org.hibernate"))
      return true;
      	</expression>
      </evaluator>
      </filter> -->
      
        <file>${learningplatform.logs:-./learningplatform/logs}/learningplatform.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${learningplatform.logs:-./learningplatform/logs}/learningplatform-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>        
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>12</maxHistory>  
        </rollingPolicy>       
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- <logger name="org.hibernate.hql.ast" level="OFF">
    	<appender-ref ref="ROLLINGFILE" />
    </logger> -->
    
    <!-- <logger category="org.hibernate">
    <level name="OFF"/> -->
<!-- </logger> -->

<!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
     <!-- <logger name="org.springframework" level="OFF" /> -->
     <!-- <logger name="org.hibernate.hql.ast.QueryTranslatorImpl" level="OFF" />
     <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
     <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" /> -->


    <!-- <root level="${learningplatform.log.level:-ERROR}"> -->
    <!-- <root level value="error"> -->
    <!-- <root level="ERROR}"> -->
    <root level="${learningplatform.log.level:-ERROR}">
        <appender-ref ref="ROLLINGFILE"/>
        <!-- <appender-ref ref="STDOUT"/>
        <appender-ref ref="discussions_exceptions_appender"/> -->
    </root>
</configuration>


